:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  .logo {
    text-align: center;
    font-size: 1.8rem;
    padding: 1.6rem 1rem;
    img {
      width: 10px;
    }
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  .mat-list-item {
    color: #040807 !important;
    font-size: 1.0rem;
    height: 44px !important;
    margin-bottom: 4px;
    &:hover {
      color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
        &:hover {
          background: #2c3344 !important;
        }
      }
    }
  }
  .list-item-active {
    background: rgb(243, 229, 235) !important;
     border-radius: 0 2rem 2rem 0;
     &:hover {
       background: blue;
     }
  
    color: #f2f5f7 !important;
    ::ng-deep {
      .mat-list-item-content {
        background: #2c3344 !important;
        &:hover {
          background: #ecf2fe00 !important;
        }
      }
    }
  }
  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  a{
    font-size: 150px;
  }